body {
    background: #f5f5f5;
    direction: rtl;
    font-family: sans-serif;
    text-align: center;
}

form {
    background: white;
    padding: 20px;
    width: 350px;
    margin: 20px auto;
    border-radius: 10px;
}

input, button {
    width: 90%;
    margin: 10px;
    padding: 10px;
}

.box {
    background: white;
    margin: 15px auto;
    padding: 10px;
    width: 350px;
    border-radius: 8px;
    text-align: left;
}
